<h1>Restaurant Information</h1><br/>
<h3><%=@restaurant.name%> - <%=@restaurant.address%> </h3>
	<p>Capacity: <%= @restaurant.capacity %></p>
	<p>Description: <%= @restaurant.description %></p>

  <h4>Reviews</h4>

  <p>Reviews for <%= @restaurant.name %></p>

  <div id="review-list")>
    <%= render :partial => "reviews" %>
  </div>

  <h3>New Review</h3>

    <%= form_for ([@restaurant, @review]) do |f| %>
      
      <div id="review-form-errors">
        <%= render :partial => "/restaurants/review_form_errors" %>
      </div>

    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


	<h4>Make a Reservation</h4>

  <%= form_for([@restaurant, @reservation]) do |f| %>
    <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :start_time %><br />
      <%= f.datetime_select(:start_time, discard_minute: true, ampm: true)%>
    </div>
    <div class="field">
    	<%= f.label :number_of_patrons %><br />
    	<%= f.select :number_of_patrons, (2..15) %><br />
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


<script type="text/javascript">
  $(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("input[type='submit']") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
        })
        .on('ajax:complete', function() {
          $("input[type='submit']")
            .val('Create Review')
            .removeAttr('disabled');
        });
  });
</script>

<script id="review-template" type="text/x-handlebars-template">
  <div class="review">
    <p>
      {{content}}
      {{#if user}}
        <em> by {{user.name}}</em>
          Added on: {{created_at}}
        {{/if}}
    </p>
  </div>
</script>